<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.aspl.steel">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name = "android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name=".Controller"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup">

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.Light"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".CompanySelectionActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".AboutAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".DailySaleEntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".RequisitionEntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".DealerNameAutocompleteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".RequisitionDealerNameAutocompleteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".ItemNameAutocompleteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".MonthlySalesRptDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".MyLeadG.MyLeadDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity android:name=".NewLeadGp.NewLeadStatusDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light" />

        <activity android:name="nl.changer.polypicker.ImagePickerActivity" />
        <activity android:name=".MultipleURIImageBrowserActivity" />

        <service android:name=".Services.IntervalPendingIntentService" android:enabled="true" />
        <service android:name=".Services.LogoutService" />

        <receiver android:name=".Services.MyWakefulReceiver" />
        <receiver android:name = ".MyNotificationPublisher" />
        <service android:name=".Services.MyIntentService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>




    </application>
</manifest>
